@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --font-color: #24292f;
  --bg-color: #ffffff;
  --primary: #24292f;
  --primary-contrast: #ffffff;
  --font-family: 'Poppins', sans-serif;
}

html {
  font-family: var(--font-family);
  font-style: normal;
  color: var(--font-color);
  background-color: var(--bg-color);
  font-size: 14px;
  font-weight: 500;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  background-color: var(--bg-color) !important;
  color: var(--font-color) !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  max-width: 1100px;
  width: 90%;
  margin: auto;
}

input {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 21px;
}

input::placeholder {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.bg-animation {
  background: linear-gradient(302deg, #000000, #ffffff, #000000, #000000);
  background-size: 800% 800%;
  width: 100vw;
  height: 100vh;
  -webkit-animation: AnimationName 18s ease infinite;
  -moz-animation: AnimationName 18s ease infinite;
  animation: AnimationName 18s ease infinite;
}

.card {
  border-radius: 15px !important;
  box-shadow: 5px 10px #888888;
  background-color: rgba(255, 255, 255, 0.7) !important;
  border: 1px solid rgba(0, 0, 0, 0.6) !important;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 60%;
  }
  50% {
    background-position: 100% 41%;
  }
  100% {
    background-position: 0% 60%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 60%;
  }
  50% {
    background-position: 100% 41%;
  }
  100% {
    background-position: 0% 60%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 60%;
  }
  50% {
    background-position: 100% 41%;
  }
  100% {
    background-position: 0% 60%;
  }
}

.card a {
  color: #198754;
  font-weight: 900;
  cursor: pointer;
  transition: transform 1s;
}

.card a:hover {
  color: #198754;
  transform: scale(1.2);
}

label {
  font-size: 16px;
  font-weight: 400;
}

.card svg {
  width: 25%;
  height: 25%;
  margin-left: 35px;
}

button[type='submit'] {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}

.form-group {
  margin-top: 10px;
}

.custom-nav-brand svg {
  height: 100%;
  width: 45px;
  margin-right: 13px;
}

.repo-list-item {
  font-size: 17px;
  border: 1px solid var(--primary);
  border-radius: 20px;
  background-color: var(--primary-contrast);
  color: var(--primary);
  padding: 30px 40px;
  line-height: 28px;
}

.repo-list-item:hover {
  background-color: var(--primary);
  color: var(--primary-contrast);
  border: 1px solid var(--primary-contrast);
}

.repo-list-item:hover .star {
  fill: var(--primary-contrast);
}
.repo-list-item .repo-name {
  font-weight: 600;
  font-size: 25px;
}

.repo-list-item .repo-owner {
  font-weight: 600;
  font-size: 14px;
}

.repo-creation-date strong {
  font-size: 13px;
}

.star {
  cursor: pointer;
  transition: transform 1s;
}

.star:hover {
  transform: scale(1.4);
}

.favorite-item {
  border-bottom: 1px solid var(--font-color);
  font-weight: 600;
  padding: 8px 15px;
  transition: all 1s;
}
